@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Contratos App</h1>
     <a class="navbar-brand" asp-controller="Contratos" asp-action="Index">Clique aqui para abrir a lista de Contratos</a>.
</div>
